@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="agendaTitle">
        Out<span style="color:red">STANDING</span> Meeting
    </div>
    <div id="wellnessbuttons">
        <button class="wellnessButton" id="standing" onclick="wellnessfunction(this.id)">Standing</button>
        <button class="wellnessButton" id="sitting" onclick="wellnessfunction(this.id)">Sitting</button>
    </div>
<div id="message">

</div>

    <script type="text/javascript">

        //Default Action On View Render
        microsoftTeams.initialize();
        function wellnessfunction(wellnesstype) {
            microsoftTeams.getContext((context) => {
                groupDomain = context.teamSiteDomain;
                userLogin = context.loginHint;
                userId = context.userObjectId;
                contextData = { UserId: userId, Group: groupDomain, User: userLogin, ActivityType: wellnesstype };
                    //const meetingcontext = context;
                    $.ajax({
                        type: 'POST',
                        url: '/Home/wellnessstyle',
                        data: { meetingContext: contextData },
                        success: function (result) {
                            document.getElementById("message").innerText = result;
                            if (wellnesstype === 'standing') {
                                document.getElementById('standing').disabled = true;
                                document.getElementById('sitting').disabled = false;
                            } else {
                                document.getElementById('sitting').disabled = true;
                                document.getElementById('standing').disabled = false;
                            }
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("textStatus: " + textStatus);
                        },
                    });
                event.preventDefault();
            })
        }
    </script>
