@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <div class="agendaTitle">
        Your Wellness Style
    </div>
    <div id="wellnessbuttons">
        <button class="wellnessButton" id="standing" onclick="wellnessfunction(this.id)">Standing</button>
        <button class="wellnessButton" id="sitting" onclick="wellnessfunction(this.id)">Sitting</button>
    </div>
<div id="message">

</div>

    <script type="text/javascript">

        //Default Action On View Render
        microsoftTeams.initialize();
        var userId = "";
        window.onload = function () {
            microsoftTeams.getContext(function (context) {
                userId = context.userObjectId;
                var meetingId = context.meetingId;
                var tenantId = context.tid;
                $.ajax({
                    type: 'GET',
                    url: '/Home/IsOrganizer',
                    dataType: 'json',
                    data: { userId: userId, meetingId: meetingId, tenantId: tenantId },
                    success: function (response) {
                        console.log(response);
                        //RoleFunction(response);
                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log("textStatus: " + textStatus + ", errorThrown:" + response);
                    },
                });
            })
        }

        function wellnessfunction(wellnesstype) {
            microsoftTeams.getContext((context) => {
                groupDomain = context.teamSiteDomain;
                userLogin = context.loginHint;
                userId = context.userObjectId;
                contextData = { UserId: userId, Group: groupDomain, User: userLogin, ActivityType: wellnesstype };
                    //const meetingcontext = context;
                    $.ajax({
                        type: 'POST',
                        url: '/Home/wellnessstyle',
                        //dataType: 'json',
                        data: { meetingContext: contextData },
                        success: function (result) {
                            //Object.keys(context).forEach(e => {
                            //    contextData = contextData + ", " + e + ": " + context[e];
                            //});
                            document.getElementById("message").innerText = result;
                        },
                        error: function (xhr, textStatus, errorThrown) {
                            console.log("textStatus: " + textStatus);
                        },
                    });
                event.preventDefault();
            })
        }
    </script>
